<!-- <header>
    <h1 id="title">404 NOT FOUND</h1>
  </header> -->
  <main class="contentPrincipal d-flex align-items-end">
    <div class="row">
        <div id="img" class="col d-flex justify-content-center" > 
            <img src="../../assets/img/transistor-404.png" alt="omg">
             
        </div>
        <div class="contentText  col justify-content-center mt-4 d-flex flex-column" >
            <h2 id="title2">I have bad news for you</h2>
            <p>The page you are looking for might be removed or is temporarily unavailable</p>
            <button mat-flat-button color="warn" id="homeButton" routerLink="..">BACK TO HOMEPAGE</button>
        </div>
    </div>

  </main>

