<header>
    <mat-toolbar class="flex justify-content-between" color="primary">
      <mat-toolbar-row>
        <mat-icon style="font-size: 40px; height: 40px; width: 40px;">
          rocket_launch
        </mat-icon>
        <span>Academia de Exploradores Cosmicos</span>
        <span class="example-spacer"></span>
        <button (click)="toggleSidebar.emit()" mat-icon-button class="example-icon"
          aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <!-- (click)="drawer.toggle()"  -->
      </mat-toolbar-row>
  
  
    </mat-toolbar>
  </header>
