
    

    table{
        width: 70%;
    
        th, td{
            width: auto;
            border: 1px solid #ddd;

       
            
            
        }
        .acciones{
            text-align: center;
       
            button:hover{

                color: blue;
                
            }
        }
        th{
            text-align: center;
        }
    }
