
<p>BARRA DE AYUDA</p>


    <mat-list>
    
    <mat-list-item routerLink="casa" class="opcion-item">
      <mat-icon matListItemIcon>home</mat-icon>
      <span>HOME</span>
    </mat-list-item>
    <mat-list-item routerLink="alumnos"  class="opcion-item">
      <mat-icon matListItemIcon>group</mat-icon>
      <span  >ALUMNOS</span>
    </mat-list-item>
    <mat-list-item routerLink="cursos" class="opcion-item">
      <mat-icon matListItemIcon>stars</mat-icon>
      <span >CURSOS</span>
    </mat-list-item>
    <mat-list-item routerLink="profesores"  class="opcion-item">
      <mat-icon matListItemIcon>group</mat-icon>
      <span  >PROFESORES</span>
    </mat-list-item>
    <mat-list-item routerLink="clases" class="opcion-item">
      <mat-icon matListItemIcon>event_available</mat-icon>
      <span >CLASES</span>
    </mat-list-item>
    
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
    </mat-list>


