<app-toolbar (toggleSidebar)="showSidebar = !showSidebar"></app-toolbar>

<mat-drawer-container class="example-container" autosize>
<!--   <mat-icon style="font-size: 30px; height: 30px; width: 30px;" type="button" mat-button
  (click)="drawer.toggle()">arrow_forward</mat-icon> -->

  <mat-drawer #drawer class="example-sidenav" mode="push" position="end" [opened]="showSidebar">
    <!-- MENU LATERAL -->
  <app-navbar></app-navbar>
  </mat-drawer>
      <div class="example-sidenav-content" #idDiv>
        <!-- AQUI VA EL CONTENIDO PAGES -->       
     <router-outlet></router-outlet>     
      </div>


        
      

</mat-drawer-container>
  