

  .example-container {
    margin-top: 0;
    height: 100vh;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {

    padding: 10px 40px;
    display:block;
    height: 100%;
    justify-content: left;
  }



 
  
  .example-sidenav {
    padding: 20px;
  }