<div class="content-tabla">
    <table mat-table  [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
        <!-- Position Column -->

      
        <!-- Name Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID.</th>
            <td mat-cell *matCellDef="let curso">{{curso.id}}</td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Nombre Curso</th>
            <td mat-cell *matCellDef="let curso">{{curso.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef>Estado Curso</th>
            <td mat-cell *matCellDef="let curso">{{curso.estado}}</td>
        </ng-container>
        <ng-container matColumnDef="firstDate">
          <th mat-header-cell *matHeaderCellDef>Fecha de Inicio</th>
          <td mat-cell *matCellDef="let curso">{{curso.startDate|date: "dd/MM/yyy"}}</td>
      </ng-container>
      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef>Fecha Final</th>
        <td mat-cell *matCellDef="let curso">{{curso.endDate|date: "dd/MM/yyy"}}</td>
    </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Opciones</th>
          <td mat-cell *matCellDef="let curso" class="acciones">
            <button (click) = "clickDetail.emit()" mat-icon-button color="warn">
              <mat-icon class="mat-icon">visibility</mat-icon>
            </button>
            <button (click)="clickEdit.emit(curso.id)"  mat-icon-button color="warn">
              <mat-icon class="mat-icon">edit</mat-icon>
            </button>
            <button (click)="clickDelete.emit(curso.id)" mat-icon-button color="warn">
              <mat-icon class="mat-icon">delete</mat-icon>
              </button>
          </td>
      </ng-container>
    
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
</div>